@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.board-container{
    position: absolute;
    width: 85vw;
    height: 100vh;
    background-color: #fff;
    margin-left: 15vw;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    z-index: 1;
}

.board-container .board-heading{
    color: #141641;
    font-size: 2rem;
    padding-top: 5vh;
    padding-left: 15vw;
    position: absolute;
}

.board-container .time-container{
    height: 5vh;
    width: 12vw;
    margin-top: 5vh;
    background: linear-gradient(to top, #fff 1%, #141641 45%, #141641 85%);
    border-radius: 25px;
    position: absolute;
    float: right;
    margin-left: 50vw;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.02);
}

.board-container .time-container .time{
    position: absolute;
    color: #fff;
    margin-left: 1.2vw;
    font-size: 0.7rem;
    margin-top: 1.5vh;
}

.board-container .first-row{
    width: 58vw;
    margin: 0 auto;
    position: relative;
    padding-top: 15vh;
}

.board-container .first-row .card{
    position: relative;
    background-color: #141641;
    width: 14vw;
    height: 25vh;
    border-radius: 15px;
    display: inline-block;
    margin-right: 5rem;
}

.board-container .first-row .card .name{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding-top: 1.5vh;
}

.board-container .first-row .card .value{
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 5vh;
}

.board-container .first-row .card .value sup span{
    padding: 0.1rem;
    border-radius: 50%;
    display: inline-block;
    height: 0.2rem;
    width: 0.2rem;
    margin: 0 0.3rem 0.3rem 0.3rem;
    background-color: #fff;
}

.board-container .second-row{
    width: 58vw;
    margin: 0 auto;
    position: relative;
    padding-top: 7vh;
}

.board-container .second-row .card{
    position: relative;
    background-color: #141641;
    width: 50vw;
    height: 25vh;
    border-radius: 15px;
    display: inline-block;
    margin-left: 1rem;
}

.board-container .second-row .card .name{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding-top: 1.5vh;
}

.board-container .second-row .card .value{
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 5vh;
}

.board-container .second-row .card .value .fas{
    transform: rotateZ(-90deg);
    margin-right: 1vw;
}

.board-container .second-row .card .value sub{
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media screen and (max-width: 960px) {

    .board-container{
        width: 100vw;
        height: 100vh;
        margin: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .board-container .board-heading{
        padding: 0;
        position: absolute;
        text-align: center;
        margin: -2.7rem 15vw;
        font-size: 1.8rem;
    }
    
    .board-container .time-container{
        display: none;
    }

    .board-container .first-row{
        width: 90vw;
        padding-top: 2vh;
    }
    
    .board-container .first-row .temp,
    .board-container .first-row .oxy{
        width: 35vw;
        height: 15vh;
        margin: 1rem;
    }

    .board-container .first-row .time{
        width: 80vw;
        margin-left: 4.5vw;
        margin-right: 0;
    }

    .board-container .second-row{
        width: 90vw;
        padding-top: 2vh;
    }
    
    .board-container .second-row .pulse{
        width: 90%;
        height: 15vh;
        margin: 1rem;
    }
    
}