.board-container .first-row .pulse,
.board-container .first-row .steps
{
    background-color: #f8f4f4;
    width: 23vw;
    height: 30vh;
}

.board-container .first-row .pulse .name,
.board-container .first-row .steps .name{
    color: #141641;
}

.board-container .third-row .ecg{
    background-color: #f8f4f4;
}

.board-container .third-row .ecg .name{
    color: #141641;
}

@media screen and (max-width: 960px) {

    .board-container .board-heading{
        font-size: 1.7rem;
    }

    .board-container .first-row .pulse,
    .board-container .first-row .steps
    {
        margin: 2vh 3vw 0 0;
        width: 90vw;
        height: 30vh;
    }

    .board-container .third-row .ecg{
        margin-bottom: 2vh;
    }

}