@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.show{
    display: block;
    transition: 0.3s all;
}

.hide{
    display: none;
    transition: 0.3s all;
}

.menu-icons{
    display: none;
}

.sidebar-container{
    position: absolute;
    width: 25vw;
    height: 100vh;
    background-color: #141641;
    z-index: 0;
}

.sidebar-container .logo{
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    margin-left: 2vw;
    padding-top: 5vh;
    cursor: pointer;
}

span{
    color: #ff0000;
}

.sidebar-container .nav-list{
    list-style: none;
    margin: 0;
    margin-left: -0.8vw;
    padding-top: 7vh;
}

.sidebar-container .nav-list .nav-items{
    color: #fff;
    font-size: 1rem;
    margin: 0 0 2rem 0;
    cursor: pointer;
}

.sidebar-container .nav-list .nav-items .fas{
    margin-right: 1rem;
}

.sidebar-container .nav-list .nav-items .fas .fa-circle{
    position: absolute;
    margin: 0;
    font-size: 0.6rem;
    color: red;
    margin-left: -0.5rem;
    margin-top: -3px;
}

.sidebar-container .nav-list .nav-items .pointer{
    position: absolute;
    background-color: #fff;
    width: 1px;
    border-radius: 50%;
    padding: 1rem;
    margin-top: -3.5vh;
    margin-left: 49%;
    user-select: none;
}

.sidebar-container .line-divide{
    height: 0.01rem;
    background-color: #fff;
    position: relative;
    margin-top: 50vh;
}

.sidebar-container .profile-container{
    position: absolute;
    bottom: 0;
}

.sidebar-container .profile-container .profile-picture{
    position: absolute;
    padding: 1rem 1.2rem;
    background-color: #c4c4c4;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-top: 2.5vh;
}

.sidebar-container .profile-container .profile-details{
    position: relative;
    list-style: none;
    margin-left: 3vw;
    padding-top: 1vh;
}

.sidebar-container .profile-container .profile-details .profile-name{
    color: #fff;
    font-size: 1.25rem;
}

.sidebar-container .profile-container .profile-details .profile-name .fas{
    margin-left: 0.5rem;
    cursor: pointer;
    transition: 0.5s all;
}

.sidebar-container .profile-container .profile-details .profile-age{
    font-size: 0.85rem;
    color: #828282;
    margin: 0.2rem 0 0 0;
}

.sidebar-container .profile-container .logout{
    transition: 1s all;
    display: none;
}

.sidebar-container .profile-container .show{
    transition: 1s all;
    display: block;
}

.sidebar-container .profile-container .logout ul{
    list-style: none;
    margin-left: 4vw;
}

.sidebar-container .profile-container .logout ul li{
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.sidebar-container .profile-container .logout ul li .fas{
    margin-right: 0.5rem;
}

.sidebar-container .profile-container .profile-details .profile-name .up{
    transform: rotateZ(180deg);
    transition: 0.5s all;
}

@media screen and (max-width: 960px) {
    nav .sidebar-container{
        display: none;
    }

    nav{
        width: 100vw;
        height: 7vh;
        background-color: #f8f4f4;
    }

    nav.active .sidebar-container{
        display: block;
        transition: 0.5s all;
        z-index: 2;
        width: 60vw;
        height: 86vh;
        margin-top: 7vh;
    }

    nav .sidebar-container .logo{
        font-size: 2rem;
        margin-left: 10vw;
    }

    .menu-icons{
        position: absolute;
        display: block;
    }

    .menu-icons .fa-bars{
        font-size: 2rem;
        color: #141641;
        margin: 1.5vh;
    }

    .menu-icons .fa-times{
        font-size: 2rem;
        color: #141641;
        margin: 1.5vh;
        display: none;
    }

    nav.active .fa-times{
        display: block;
        position: absolute;
    }

    nav.active .fa-bars{
        display: none;
    }

    nav .sidebar-container .nav-list .nav-items .pointer{
        display: none;
    }
    
    .sidebar-container .profile-container .profile-details{
        margin-left: 10vw;
    }
    
    .sidebar-container .profile-container .logout ul{
        list-style: none;
        margin-left: 12vw;
    }
}