@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.overlay-container{
    position: absolute;
    width: 20vw;
    height: 75vh;
    background-color: #f8f4f4;
    border-radius: 20px;
    margin-left: 15vw;
    margin-top: 5vh;
    z-index: 3;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.01);
}

.overlay-container::before,
.overlay-container::after{
    content: '';
    position: absolute;
    bottom: 100%;
    left: -1.4rem;
    top: 25.8%;
    transform: rotateZ(-90deg);
    border: 11px solid transparent;
    border-bottom-color: #f8f4f4;
}

.overlay-container::after{
    left: 20px;
    border: 10px solid transparent;
    border: none;
    border-bottom-color: #fff;
}

.overlay-container .notification-details{
    position: relative;
    color: #141641;
    margin-top: 3vh;
    margin-left: 1rem;
}

.overlay-container .notification-details .notification-title{
    font-size: 1.5rem;
    margin: 0;
}

.overlay-container .notification-details .notification-info{
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.overlay-container .notification-details .divide{
    width: 105%;
    margin-left: -0.95rem;
    margin-top: 0.5rem;
    height: 1px;
    background-color: #fff;
}

@media screen and (max-width: 960px) {

    .overlay-container{
        width: 50vw;
        height: 75vh;
        margin-left: 47vw;
        margin-top: 11vh;
    }
    
}