@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.medicine-container{
    position: relative;
    margin: auto;
    margin-left: 5vw;
}

.medicine-container .medicine{
    width: 15vw;
    border-radius: 20px;
    margin: 1rem;
}

.medicine-container .icon{
    position: absolute;
    color: #141641;
    font-size: 2rem;
    margin-top: 2.5vh;
    margin-left: 1.5vw;
    user-select: none;
}

.medicine-container .details{
    color: #141641;
    user-select: none;
}

.medicine-container .details .name{
    font-size: 1rem;
    margin-left: 5vw;
    padding-top: 3vh;
    font-weight: 600;
}

.medicine-container .details .dosage{
    font-size: 0.5rem;
    margin-left: 5vw;
    padding-top: 0.2rem;
    font-weight: 600;
    padding-bottom: 3vh;
}

.medicine-container .next{
    text-align: right;
    padding: 0.2rem 1rem 2rem ;
    width: 0.5vw;
    margin-left: auto;
    cursor: pointer;
    margin-top: -7.5vh;
    display: none;
}

.card-container .next .fas{
    color: #141641;
    font-size: 1rem;
}

.medicine-container .medicine:hover{
    background-color: #fff;
    transition: 0.3s all;
}

.medicine-container .medicine:hover .next{
    display: block;
    transition: 0.3s all;
}