@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.right-container{
    width: 25vw;
    height: 100vh;
    background-color: #F8F4F4;
    float: right;
    z-index: 0;
}

.right-container .heading{
    position: relative;
    text-align: center;
    font-size: 1.6rem;
    color: #141641;
    margin-left: 3vw;
    margin-top: 2vh;
}

.right-container .sub-heading{
    position: relative;
    text-align: center;
    font-size: 1rem;
    color: #141641;
    margin-left: -5vw;
    margin-top: 4vh;
    font-weight: bold;
}

.right-container .move{
    margin-left: -7vw;
}